<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>amount</key>
		<integer>0</integer>
		<key>event_id</key>
		<integer>23525235235</integer>
		<key>name</key>
		<string></string>
		<key>pic_link</key>
		<string></string>
		<key>type</key>
		<string>occasion</string>
	</dict>
	<dict>
		<key>amount</key>
		<integer>0</integer>
		<key>event_id</key>
		<integer>5335235</integer>
		<key>name</key>
		<string></string>
		<key>pic_link</key>
		<string></string>
		<key>type</key>
		<string>occasion</string>
	</dict>
	<dict>
		<key>amount</key>
		<integer>0</integer>
		<key>event_id</key>
		<integer>8766555</integer>
		<key>name</key>
		<string></string>
		<key>pic_link</key>
		<string></string>
		<key>type</key>
		<string>occasion</string>
	</dict>
	<dict>
		<key>amount</key>
		<integer>0</integer>
		<key>event_id</key>
		<integer>1231231230</integer>
		<key>name</key>
		<string></string>
		<key>pic_link</key>
		<string></string>
		<key>type</key>
		<string>occasion</string>
	</dict>
	<dict>
		<key>amount</key>
		<integer>0</integer>
		<key>event_id</key>
		<integer>1231231231</integer>
		<key>name</key>
		<string></string>
		<key>pic_link</key>
		<string></string>
		<key>type</key>
		<string>occasion</string>
	</dict>
	<dict>
		<key>amount</key>
		<integer>0</integer>
		<key>event_id</key>
		<integer>1223321323123</integer>
		<key>name</key>
		<string></string>
		<key>pic_link</key>
		<string></string>
		<key>type</key>
		<string>occasion</string>
	</dict>
	<dict>
		<key>amount</key>
		<integer>0</integer>
		<key>event_id</key>
		<integer>12315125</integer>
		<key>name</key>
		<string></string>
		<key>pic_link</key>
		<string></string>
		<key>type</key>
		<string>brand</string>
	</dict>
	<dict>
		<key>amount</key>
		<integer>0</integer>
		<key>event_id</key>
		<integer>12312312</integer>
		<key>name</key>
		<string></string>
		<key>pic_link</key>
		<string></string>
		<key>type</key>
		<string>brand</string>
	</dict>
	<dict>
		<key>amount</key>
		<integer>0</integer>
		<key>event_id</key>
		<integer>123123123</integer>
		<key>name</key>
		<string></string>
		<key>pic_link</key>
		<string></string>
		<key>type</key>
		<string>brand</string>
	</dict>
	<dict>
		<key>amount</key>
		<integer>0</integer>
		<key>event_id</key>
		<integer>124124124</integer>
		<key>name</key>
		<string></string>
		<key>pic_link</key>
		<string></string>
		<key>type</key>
		<string>brand</string>
	</dict>
	<dict>
		<key>amount</key>
		<integer>0</integer>
		<key>event_id</key>
		<integer>32414124</integer>
		<key>name</key>
		<string></string>
		<key>pic_link</key>
		<string></string>
		<key>type</key>
		<string>brand</string>
	</dict>
	<dict>
		<key>amount</key>
		<integer>0</integer>
		<key>event_id</key>
		<integer>7897565765</integer>
		<key>name</key>
		<string></string>
		<key>pic_link</key>
		<string></string>
		<key>type</key>
		<string>brand</string>
	</dict>
	<dict>
		<key>amount</key>
		<integer>0</integer>
		<key>event_id</key>
		<integer>789789789789</integer>
		<key>name</key>
		<string></string>
		<key>pic_link</key>
		<string></string>
		<key>type</key>
		<string>style</string>
	</dict>
	<dict>
		<key>amount</key>
		<integer>0</integer>
		<key>event_id</key>
		<integer>789789789</integer>
		<key>name</key>
		<string></string>
		<key>pic_link</key>
		<string></string>
		<key>type</key>
		<string>style</string>
	</dict>
	<dict>
		<key>amount</key>
		<integer>0</integer>
		<key>event_id</key>
		<integer>788889789</integer>
		<key>name</key>
		<string></string>
		<key>pic_link</key>
		<string></string>
		<key>type</key>
		<string>style</string>
	</dict>
	<dict>
		<key>amount</key>
		<integer>0</integer>
		<key>event_id</key>
		<integer>9999998</integer>
		<key>name</key>
		<string></string>
		<key>pic_link</key>
		<string></string>
		<key>type</key>
		<string>style</string>
	</dict>
	<dict>
		<key>amount</key>
		<integer>0</integer>
		<key>event_id</key>
		<integer>9999990</integer>
		<key>name</key>
		<string></string>
		<key>pic_link</key>
		<string></string>
		<key>type</key>
		<string>style</string>
	</dict>
	<dict>
		<key>amount</key>
		<integer>0</integer>
		<key>event_id</key>
		<integer>999999999</integer>
		<key>name</key>
		<string></string>
		<key>pic_link</key>
		<string></string>
		<key>type</key>
		<string>style</string>
	</dict>
</array>
</plist>
