<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brands</key>
	<array>
		<array>
			<string>Brand</string>
			<string></string>
		</array>
		<array>
			<string>Brand</string>
			<string></string>
		</array>
		<array>
			<string>Brand</string>
			<string></string>
		</array>
		<array>
			<string>Brand</string>
			<string></string>
		</array>
		<array>
			<string>Brand</string>
			<string></string>
		</array>
		<array>
			<string>Brand</string>
			<string></string>
		</array>
	</array>
	<key>occasions</key>
	<array>
		<array>
			<string>Occasion</string>
			<string></string>
		</array>
		<array>
			<string>Occasion</string>
			<string></string>
		</array>
		<array>
			<string>Occasion</string>
			<string></string>
		</array>
		<array>
			<string>Occasion</string>
			<string></string>
		</array>
		<array>
			<string>Occasion</string>
			<string></string>
		</array>
		<array>
			<string>Occasion</string>
			<string></string>
		</array>
	</array>
	<key>styles</key>
	<array>
		<array>
			<string>Style</string>
			<string></string>
		</array>
		<array>
			<string>Style</string>
			<string></string>
		</array>
		<array>
			<string>Style</string>
			<string></string>
		</array>
		<array>
			<string>Style</string>
			<string></string>
		</array>
		<array>
			<string>Style</string>
			<string></string>
		</array>
		<array>
			<string>Style</string>
			<string></string>
		</array>
	</array>
	<key>utime</key>
	<integer>0</integer>
</dict>
</plist>
