<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string></string>
		<key>picLink</key>
		<string></string>
		<key>type</key>
		<string>occasion</string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>picLink</key>
		<string></string>
		<key>type</key>
		<string>occasion</string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>picLink</key>
		<string></string>
		<key>type</key>
		<string>occasion</string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>picLink</key>
		<string></string>
		<key>type</key>
		<string>occasion</string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>picLink</key>
		<string></string>
		<key>type</key>
		<string>occasion</string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>picLink</key>
		<string></string>
		<key>type</key>
		<string>occasion</string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>picLink</key>
		<string></string>
		<key>type</key>
		<string>brand</string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>picLink</key>
		<string></string>
		<key>type</key>
		<string>brand</string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>picLink</key>
		<string></string>
		<key>type</key>
		<string>brand</string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>picLink</key>
		<string></string>
		<key>type</key>
		<string>brand</string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>picLink</key>
		<string></string>
		<key>type</key>
		<string>brand</string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>picLink</key>
		<string></string>
		<key>type</key>
		<string>brand</string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>picLink</key>
		<string></string>
		<key>type</key>
		<string>style</string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>picLink</key>
		<string></string>
		<key>type</key>
		<string>style</string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>picLink</key>
		<string></string>
		<key>type</key>
		<string>style</string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>picLink</key>
		<string></string>
		<key>type</key>
		<string>style</string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>picLink</key>
		<string></string>
		<key>type</key>
		<string>style</string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>picLink</key>
		<string></string>
		<key>type</key>
		<string>style</string>
	</dict>
</array>
</plist>
